@import "reset.css";

.venus #venus_box { 
  background-color: #0000008d;
  color: #fff;
  /* text-transform: lowercase; */
  font: 15px 'Neuton', georgia, serif;
  padding: 0px 5px;
  /* border: none; */
  border: 5px;
  border-radius: 2px;
  position: absolute;
  left: 30px;
  top: 100px;
  cursor: pointer;
  z-index: 9998;
}
#venus_box .dropdown {
  position: relative;
  display: inline-block;
}

#venus_box .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.315);
  min-width: 160px;
  z-index: 9998;
}

#venus_box .dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 5px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 2px;
  display: block;
}

#venus_box  .dropdown-content a:hover {
  background-color:  rgba(153, 150, 150, 0.5);
}

#venus_box  .dropdown:hover .dropdown-content {
  display: block;
}
#venus_box .dropdown:hover .venus {
  background-color:  rgba(153, 150, 150, 0.5);
}

.askuser #ask_box {
  color: white;
  text-transform: lowercase;
  font: 15px 'Neuton', georgia, serif;
  height: 100px;
  width: 300px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 0px;
   position: fixed; /*<!--need to have this to appear--> */
  left: 40%;
  top: 200px;
  background-color: rgba(125, 121, 121, 0.5);
text-align: center;
 z-index: 9989;
 
}

#ask_box button.yes{
  position:absolute;
  bottom: 0;
  left:50%;
}
#ask_box button.no{
  position:absolute;
  bottom: 0;
  right:50%;
}